// Ehh
// $blue: #006AFF;
// tutor cards --xs, sm,xl fonts

// Colors
$orange: #F8951D; 
$lightOrange: #FAA935;
$offWhite: #FFF7EE;
$blue: #3A5A99; 
$gray:  rgb(151, 165, 182);
$cta: #00b7b2;
$color-bg:red;

// Fonts
// $body-heading: "open sans"


$font-header: 60px;
$font-xlarge: 45px;
$font-large: 35px;
$font-medium: 31px;
$font-small: 24px;
$font-extrasmall: 15px;

