
@font-face {
    src: url(fonts/BPreplayBold.otf);
    font-style: normal;
    font-weight: normal;
    font-family: 'Main-Bold';
}
@font-face {
    src: url(fonts/BPreplay.otf);
    font-style: normal;
    font-weight: normal;
    font-family: 'Main-Normal';
}
@font-face {
    src: url(fonts/OpenSans-SemiBold.ttf);
    font-style: normal;
    font-weight: normal;
    font-family: 'Body-Bold';
}
@font-face {
    src: url(fonts/OpenSans-Regular.ttf);
    font-style: normal;
    font-weight: normal;
    font-family: 'Body-Normal';
}
@font-face {
    src: url(fonts/OpenSans-Light.ttf);
    font-style: normal;
    font-weight: normal;
    font-family: 'Body-Light';
}
// @font-face {
//     src: url(fonts/AcuminVariableConcept.otf);
//     font-family: 'Body-Heading';
//     font-weight: bold;
// }

@import url("https://use.typekit.net/ihq2yhi.css");

$font-heading:  'acumin-pro';

