footer {
  text-align: center;
  color: $color-body-light;
  position: relative;
  background: rgb(36, 39, 88);
  background: linear-gradient(
    90deg,
    rgba(36, 39, 88, 1) 0%,
    rgba(20, 20, 67, 1) 100%
  );


/*
footer {
  background-image: url("/images/FOOTHER-BG-PNG.png");
  background-size: cover;
  height: 85%;
  width: 100%;
  text-align: center;
  color: $color-body-light; */

  nav li a {
    font-weight: $font-main-normal !important;
  }
  .footer-logo {
    width: 20%;
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    top: -2.9rem;
  }
  .row {
    padding: 12.7rem 0 8rem 0;
  }
  .col {
    padding-bottom: 6rem;
  }
  .social-links {
    transition: all ease 0.4s;
    opacity: 0.7;

    &:hover {
      opacity: 1;
    }
  }
}
