*,::before,::after {
    box-sizing: border-box;
}
* {
    padding: 0;
    margin: 0;
}
body {
    overflow: hidden;
    position: relative;
    height: 100vh;
    background: rgb(36,39,88);
    background: linear-gradient(90deg, rgba(36,39,88,1) 0%, rgba(20,20,67,1) 100%);
}
a {
    font-family: $font-main-bold;
    font-size: $font-medium;
    text-decoration: none;
    display: block;
    width: 260px;
    text-align: center;
    color: $color-primary;
}
.btn {
    color: white;
    // background-color: $color-bg;
    font-size: 20px;
    padding: 0.3em 0;
    border-radius: 35px;
    transition: all ease 1s;
    transform: translateY(0em);
    position: relative;
}
// Hamburger
    
form {
    position: relative;
    z-index: 100;

    input {
        width: 260px;
        height: 2.8em;
        border-radius: 35px;
        background: none;
        font-size: $font-small;
        color: white;
        text-indent: 50px;
        border: $cta solid 1px;
        
    }
    .password {
        margin-top: 10px;

        background-image: url(password-lock.png);

        background-repeat: no-repeat;

        background-size: 15px;

        background-position-x: 18px;

        background-position-y: 9px;
        opacity: 0;
        transform: translateX(-23em);
        transition: ease all 1.4s;
    }
    .forgot-password  {
        color: $color-primary;
        margin-top: 10px;
        font-size: $font-small;
        margin-left: 9em;
        transform: translateX(-23em);
        transition: ease all 1.4s;
        opacity: 0;
    }
    .username {
        background-image: url(person-placeholder.png);
        background-repeat: no-repeat;

        background-size: 19px;

        background-position-x: 16px;

        background-position-y: 9px;
        opacity: 0;
        transform: translateX(23em);
        transition: ease all 1s;
    }
    .btn-slide-left {
        transition: all ease 1s;
        transform: translateX(17em);
        transition-delay: .2s;
        opacity: 0;
    }
}

.flex {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.sign-in {
    position: relative;
    height: 100vh;
    padding-bottom: 5em;
    z-index: 100;
    .btn {
    
        &.outline {
            outline: $cta 2px solid;
            border-radius: 35px;
        }
    }

    h1 {
        color: p$color-primary;
        span {
            color: $cta
        }
    }
    

    .icon {
        width: 150px;
        // position: absolute;
        margin: 0 auto;
        left: 0;
        right: 0;
        top: 3em;
        
    }
}

.logo {
    transition: all ease 1s;
    transform: translateY(0em);
}
.hamburger {
    position: absolute;
    top: 1.5em;
    left: 1em;
    width: 30px;
    height: 4px;
    z-index: 100;
    transition: ease all 1s;
    background-color: white;
    border-radius: 35px;
    transform: translateY(-6em) rotate(45deg);

    &::after {
        content: '';
        position: absolute;
        width: 30px;
        height: 4px;
        z-index: 100;
        transition: ease all 1s;
        background-color: white;
        border-radius: 35px;
        transform: translateY(-6em) rotate(115deg);
    }
}
// animations
.sign-in-trigger {
    .btn-slide-down {
        transition: all ease 1s;
        transform: translateY(20em);
        opacity: 0;
    }
    .btn-slide-left {
        transition: all ease 1s;
        transform: translateX(0em);
        transition-delay: .2s;
        opacity: 1;
    }
    // .logo {
    //     transition: all ease 1s;
    //     transform: translateY(-15em);
    //     opacity: 0;
    // }
    .username {
        transform: translateX(0em);
        transition: ease all 1s;
        opacity: 1;
        transition-delay: .2s;
    }
    .password {
        transform: translateX(0em);
        transition: ease all 1s;
        opacity: 1;
        transition-delay: .1s;
    }
    .forgot-password  {
        transform: translateX(0em);
        transition: ease all 1s;
        opacity: 1;
        transition-delay: .25s;
    }
}

.menu-btn-trigger {
    .hamburger {
        transition: ease all 1s;
        background-color: white;
        border-radius: 35px;
        transform: translateY(0em) rotate(45deg);

        &::after {
            transition: ease all 1s;
            background-color: white;
            border-radius: 35px;
            transform: translateY(0em) rotate(115deg);
        }
    }
}