#how-it-works {
  text-align: center;
  position: relative;
  background-color: #fcfcfc;
  // padding: 12rem 0 15rem 0;
  
    color: red !important;

  h1 {
    padding-bottom: 1em;
    letter-spacing: 5px;
  }

  p {
    // position: absolute;
    margin: 0 auto;

    span {
      font-family: "Body-Bold";
    }
  }
  .step-1-h2 {
    color: $color-teal !important;
  }
  .step-2-h2 {
    color: $color-body-dark;
  }
  .step-3-h2 {
    color: $color-periwinkle;
  }
  .step-1 {
    filter: drop-shadow(5px 0px 6px #252525);
    position: relative;
    background-image: url(images/teal-cloud-05.png);
    opacity: 0.5;
    background-size: contain;
    background-repeat: no-repeat;
    height: 14rem;
    width: 17rem;
    max-width: 100%;
    margin: 0 auto;
    padding-top: 3.6rem;

    p {
      color: white;
    }
  }
  .step-2 {
    filter: drop-shadow(5px 0px 6px #aeaeae);
    background-image: url(images/gray-cloud-05-05.png);
    background-size: contain;
    background-repeat: no-repeat;
    max-width: 100%;
    width: 17rem;
    height: 14rem;
    margin: 0 auto;
    padding-top: 5rem;

    p {
      color: $color-body-dark;
    }
  }
  .step-3 {
    filter: drop-shadow(5px 0px 6px #252525);
    background-image: url(../images/periwinkle-cloud-05-05-05.png);
    background-size: contain;
    background-repeat: no-repeat;
    opacity: 0.5;
    max-width: 100%;
    height: 14rem;
    max-width: 100%;
    width: 17rem;
    margin: 0 auto;
    padding-top: 5rem;

    p {
      color: $color-body-light;
    }
  }
}






/* new hit */

.new-hit {
  min-height: 100vh ;
  position: relative;

  h2,h3 {
    text-align: center;
    color: white;
    position: relative;
    z-index: 10;
  }
  
  h2 {
    padding-top: 0.6em;
  }
  
  h3 {
    margin-bottom: 4em;
  }
  h4 {
    margin-top: 6.7em;
  }
  a {
    font-weight: normal;
    display: block;
    font-size: 20px;
    text-transform: capitalize;
    
  }

  .hit-bg {
    background-image: url("../weTutor/images/hit-bg.png");
    min-height: 268px;
    width: 100vw;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: absolute;
    z-index: 9;
  }
  

  .bg-color-flex {
    display: flex;
    min-height: 100vh;
    width: 100%;
    position: absolute;
    top: 0;

    .div-1 {
      background-color: #f2f2f2;
      // opacity: 0.3;

      &:hover {
        filter: drop-shadow(-0.1in 0.03in 0.1in #83838361);
        scale: 110%;
        transition: ease-in-out 0.5s;
        clip-path: inset(2.5em 0 0 0);
      }
    } 
    .div-2 {
      background-color: #f2f2f2;
      opacity: 0.4;
    } 
    .div-3 {
      background-color: #f2f2f2;
      opacity: 0.4;
    } 

    .bg-color-div-flex {
      display: flex;
      flex-grow: 1;
      flex-direction: column;
      justify-content: center;
      text-align: center;

      .bg-img-links-flex {
        display: flex;
        background-image: url("../weTutor/images/hit-text-bg.png");
        height: 65%;
        width: 47%;
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
        margin: auto;
        text-align: center;
        flex-direction: column;
        justify-content: center;
        margin-top: -11.5%;
      }

    }
  }
}






//ANIMATIONS//

.div-2-activated {
      filter: drop-shadow(-0.1in 0.03in 0.1in #83838361);
      opacity: 1 !important;
      scale: 110%;
      transition: ease-in-out 0.5s;
}
.div-2-selected {
  opacity: 0.1 !important;
  scale: 100%;
  filter: none;
}


.div-3-selected {
opacity: 0.1;
scale: 100%;
filter: none;

}

.div-3-activated {
  filter: drop-shadow(-0.1in 0.03in 0.1in #83838361);
  opacity: 1 !important;
  scale: 110% !important;
  transition: ease-in-out 0.5s;
}
