.login-wrap {
  a:hover {
    color: $color-periwinkle;
  }
  a:hover:last-of-type {
    color: $color-body-light;
  }
}

.primary-btn {
  color: $color-body-light;
  background-color: $color-periwinkle;
  padding: 10px 7.6rem;
  border-radius: 35px;
  margin-top: 1rem;
  display: inline-block;

  &:hover {
    transition: all ease 0.2s;
    color: $color-body-light;
    background-color: darken($color: $color-periwinkle, $amount: 5%);
  }
}

// Nav Btn
.navbar .navbar-link:hover {
  transition: all ease 0.35s;
  color: $color-body-light;
  background-color: $color-periwinkle;
  padding: 5px 20px;
  border-radius: 15px;
}

.login-btn {
  @extend .navbar-link:hover;

  &:hover {
    background-color: darken($color: $color-periwinkle, $amount: 5%);
  }
}
