.login-wrap {
  a:hover {
    color: White;
  }
  a:hover:last-of-type {
    color: white;
  }
}

.primary-btn {
  color: white;
  background-color: $color-periwinkle;
  padding: 10px 7.6rem;
  border-radius: 35px;
  margin-top: 1rem;
  display: inline-block;

  &:hover {
    // transition: all ease 0.2s;
    color: white 0.5;
    background-color: darken($color: $color-periwinkle, $amount: 5%);
  }
}

// Nav Btn
.navbar .navbar-link:hover {
  // transition: ease 0.35s;
  color: white;
  background-color: $color-body-dark;
}

.login-btn {
  @extend .navbar-link:hover;

  &:hover {
    background-color: darken($color: $color-periwinkle, $amount: 5%);
  }
}
