.tutor-devider {
  background-image: url(images/tutor-decoration-05.png);
  width: 5em;
  height: 3em;
  background-size: contain;
  background-repeat: no-repeat;
  margin: 0 auto;
}

.top-tutors {
  text-align: center;
  padding-top: 1.5rem;

  .card {
    margin-bottom: 3rem;
    border: none;
    background-color: transparent !important;

    &-img {
      max-width: 14rem;
    }
  }
  .card-title span {
    font-family: "Main-Bold";
  }
}
