.tutors {
  margin: 12em 0 20em 0;

  h2 {
    text-align: center;
  }
}


.tutor-divider {
  background-image: url(images/tutor-decoration-05.png);
  width: 5em;
  height: 3em;
  background-size: contain;
  background-repeat: no-repeat;
  margin: auto;
}

.top-tutors {
  text-align: center;
  padding: 1.5rem;
  // background-color: #eeeceb;

  .card {
    border: none;
    background-color: transparent !important;

    &-img {
      max-width: 14rem;
    }
  }
  .card-title span {
    font-family: "Main-Bold";
  }
}
