.tutors {
  // padding: 12em 0 0 0;

  h2 {
    text-align: center;
    background: linear-gradient(90deg, rgb(36, 39, 88) 0%, rgb(20, 20, 67) 100%);
    padding: 0.3em;
  }
}


.tutor-divider {
  background-image: url(images/tutor-decoration-05.png);
  width: 5em;
  height: 3em;
  background-size: contain;
  background-repeat: no-repeat;
  margin: auto;
}

.top-tutors {
  text-align: center;
  padding: 7.5rem;
  // background-color: #eeeceb;

  .card {
    border: none;
    background-color: transparent !important;

    &-img {
      max-width: 14rem;
      border-radius: 100% !important;
    }
  }

    .card-title {
      font-family: "body-normal";
      color: #000000d9 !important;
      margin-top: 1.8em;
      margin-bottom: 10px;
      
      letter-spacing: none !important;

      span {
        font-family: "Body-Bold" !important;
      }

      p {
        line-height: 20px;
        font-weight: 300;
        letter-spacing: 3px;
        font-size: 16px !important;
      }
    }

  
}
