@font-face {
  src: url(fonts/BPreplayBold.otf);
  font-style: normal;
  font-weight: normal;
  font-family: 'Main-Bold';
}

@font-face {
  src: url(fonts/BPreplay.otf);
  font-style: normal;
  font-weight: normal;
  font-family: 'Main-Normal';
}

@font-face {
  src: url(fonts/OpenSans-SemiBold.ttf);
  font-style: normal;
  font-weight: normal;
  font-family: 'Body-Bold';
}

@font-face {
  src: url(fonts/OpenSans-Regular.ttf);
  font-style: normal;
  font-weight: normal;
  font-family: 'Body-Normal';
}

@font-face {
  src: url(fonts/OpenSans-Light.ttf);
  font-style: normal;
  font-weight: normal;
  font-family: 'Body-Light';
}

*, ::before, ::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

* {
  padding: 0;
  margin: 0;
}

body {
  overflow: hidden;
  position: relative;
  height: 100vh;
  background: #242758;
  background: -webkit-gradient(linear, left top, right top, from(#242758), to(#141443));
  background: linear-gradient(90deg, #242758 0%, #141443 100%);
}

a {
  font-family: "Main-Bold";
  font-size: 31px;
  text-decoration: none;
  display: block;
  width: 260px;
  text-align: center;
  color: #fff7ee;
}

.btn {
  color: white;
  font-size: 20px;
  padding: 0.3em 0;
  border-radius: 35px;
  -webkit-transition: all ease 1s;
  transition: all ease 1s;
  -webkit-transform: translateY(0em);
          transform: translateY(0em);
  position: relative;
}

form {
  position: relative;
  z-index: 100;
}

form input {
  width: 260px;
  height: 2.8em;
  border-radius: 35px;
  background: none;
  font-size: 24px;
  color: white;
  text-indent: 50px;
  border: #00b7b2 solid 1px;
}

form .password {
  margin-top: 10px;
  background-image: url(password-lock.png);
  background-repeat: no-repeat;
  background-size: 15px;
  background-position-x: 18px;
  background-position-y: 9px;
  opacity: 0;
  -webkit-transform: translateX(-23em);
          transform: translateX(-23em);
  -webkit-transition: ease all 1.4s;
  transition: ease all 1.4s;
}

form .forgot-password {
  color: #fff7ee;
  margin-top: 10px;
  font-size: 24px;
  margin-left: 9em;
  -webkit-transform: translateX(-23em);
          transform: translateX(-23em);
  -webkit-transition: ease all 1.4s;
  transition: ease all 1.4s;
  opacity: 0;
}

form .username {
  background-image: url(person-placeholder.png);
  background-repeat: no-repeat;
  background-size: 19px;
  background-position-x: 16px;
  background-position-y: 9px;
  opacity: 0;
  -webkit-transform: translateX(23em);
          transform: translateX(23em);
  -webkit-transition: ease all 1s;
  transition: ease all 1s;
}

form .btn-slide-left {
  -webkit-transition: all ease 1s;
  transition: all ease 1s;
  -webkit-transform: translateX(17em);
          transform: translateX(17em);
  -webkit-transition-delay: .2s;
          transition-delay: .2s;
  opacity: 0;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.sign-in {
  position: relative;
  height: 100vh;
  padding-bottom: 5em;
  z-index: 100;
}

.sign-in .btn.outline {
  outline: #00b7b2 2px solid;
  border-radius: 35px;
}

.sign-in h1 {
  color: p #fff7ee;
}

.sign-in h1 span {
  color: #00b7b2;
}

.sign-in .icon {
  width: 150px;
  margin: 0 auto;
  left: 0;
  right: 0;
  top: 3em;
}

.logo {
  -webkit-transition: all ease 1s;
  transition: all ease 1s;
  -webkit-transform: translateY(0em);
          transform: translateY(0em);
}

.hamburger {
  position: absolute;
  top: 1.5em;
  left: 1em;
  width: 30px;
  height: 4px;
  z-index: 100;
  -webkit-transition: ease all 1s;
  transition: ease all 1s;
  background-color: white;
  border-radius: 35px;
  -webkit-transform: translateY(-6em) rotate(45deg);
          transform: translateY(-6em) rotate(45deg);
}

.hamburger::after {
  content: '';
  position: absolute;
  width: 30px;
  height: 4px;
  z-index: 100;
  -webkit-transition: ease all 1s;
  transition: ease all 1s;
  background-color: white;
  border-radius: 35px;
  -webkit-transform: translateY(-6em) rotate(115deg);
          transform: translateY(-6em) rotate(115deg);
}

.sign-in-trigger .btn-slide-down {
  -webkit-transition: all ease 1s;
  transition: all ease 1s;
  -webkit-transform: translateY(20em);
          transform: translateY(20em);
  opacity: 0;
}

.sign-in-trigger .btn-slide-left {
  -webkit-transition: all ease 1s;
  transition: all ease 1s;
  -webkit-transform: translateX(0em);
          transform: translateX(0em);
  -webkit-transition-delay: .2s;
          transition-delay: .2s;
  opacity: 1;
}

.sign-in-trigger .username {
  -webkit-transform: translateX(0em);
          transform: translateX(0em);
  -webkit-transition: ease all 1s;
  transition: ease all 1s;
  opacity: 1;
  -webkit-transition-delay: .2s;
          transition-delay: .2s;
}

.sign-in-trigger .password {
  -webkit-transform: translateX(0em);
          transform: translateX(0em);
  -webkit-transition: ease all 1s;
  transition: ease all 1s;
  opacity: 1;
  -webkit-transition-delay: .1s;
          transition-delay: .1s;
}

.sign-in-trigger .forgot-password {
  -webkit-transform: translateX(0em);
          transform: translateX(0em);
  -webkit-transition: ease all 1s;
  transition: ease all 1s;
  opacity: 1;
  -webkit-transition-delay: .25s;
          transition-delay: .25s;
}

.menu-btn-trigger .hamburger {
  -webkit-transition: ease all 1s;
  transition: ease all 1s;
  background-color: white;
  border-radius: 35px;
  -webkit-transform: translateY(0em) rotate(45deg);
          transform: translateY(0em) rotate(45deg);
}

.menu-btn-trigger .hamburger::after {
  -webkit-transition: ease all 1s;
  transition: ease all 1s;
  background-color: white;
  border-radius: 35px;
  -webkit-transform: translateY(0em) rotate(115deg);
          transform: translateY(0em) rotate(115deg);
}
/*# sourceMappingURL=styles.css.map */